@font-face {
  font-family: "Prompt-Light";
  src: url("../fonts/Prompt-Light.ttf");
}
@font-face {
  font-family: "Prompt-Thin";
  src: url("../fonts/Prompt-Thin.ttf");
}
@font-face {
  font-family: "Prompt";
  src: url("../fonts/Prompt-Regular.ttf");
}
@font-face {
  font-family: "Prompt-semibold";
  src: url("../fonts/Prompt-SemiBold.ttf");
}
@font-face {
  font-family: "Prompt-bold";
  src: url("../fonts/Prompt-Bold.ttf");
}

$font-regular: 'Prompt';
$font-bold: 'Prompt-Bold';
$font-semibold: 'Prompt-SemiBold';
$font-thin: 'Prompt-Thin';
$font-light: 'Prompt-Light';

body {
  font-family: $font-light, sans-serif;
  font-size: 1em;
}
