@font-face {
  font-family: "Prompt";
  src: url("./fonts/Prompt-Regular.ttf");
}
@font-face {
  font-family: "Prompt-semibold";
  src: url("./fonts/Prompt-SemiBold.ttf");
}
@font-face {
  font-family: "Prompt-bold";
  src: url("./fonts/Prompt-Bold.ttf");
}

$font-bold: 'Prompt-Bold';
$font-semibold: 'Prompt-SemiBold';
$font-regular: 'Prompt';

body {
  font-family: $font-regular, sans-serif;
}
