@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("../fonts/Raleway-Bold.ttf");
}

$font-bold: 'Raleway-bold';
$font-semibold: 'Raleway-semibold';
$font-regular: 'Raleway';

body {
  font-family: $font-regular, sans-serif;
}
