html {
  font-size: 65%; // 1 rem = 16px; 10px/16px = 62.5%
  height: 100%;

  @include respond(mobile-device) {
    font-size: 28%;
  }

  @include respond(tablet-landscape) {
    font-size: 65%;
  }

  @include respond(big-desktop) {
    font-size: 100%;
  }
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overflow-wrap {
  overflow-x: hidden;
}

.next {
  position: absolute;
  bottom: 100px;
}

.space {
  margin: 30px;
}

.listparagraph {
  position: absolute;
  bottom: 200px;
}