.header {
  background: $color-black;
  color: $color-light;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  color: #fcce06;
  font-size: 3rem;
}

.brand__logo {
  width: 100%;
  max-width: 10rem;
}
